<div class="footer-block-list connect-social">
    <h4>Kết Nối Với Đài Nguồn Sống</h4>
    <nav>
        <a href="#" class="facebook"><i class="icon-facebook"></i>Facebook</a>

        <a href="mailto:nguonsong2001@yahoo.com" class="email"><i class="icon-mail"></i>Email</a>
    </nav>
</div>